body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

.hero-section {
    background-image: url(image1.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

h1 {
    font-size: 60px;
    font-weight: 600;
}

.main {
    color: white;
    text-align: center;

}



.first {
    padding-top: 4rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.second {
    margin-top: 0px;
}

.link-button {
    text-decoration: none;
    background-color: rgb(221, 76, 76);
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    font-weight: 600;


}

.btn {
    margin-top: 70px;
    text-align: center;
}

.zero {
    text-align: center;
    font-weight: 600;
}

.intel {
    text-align: center;
}

.flex-container {
    display: flex;
    margin: auto;
    width: 50%;


}

.flex-container>div {
    background-color: rgb(224, 218, 218);
    font-size: 30px;
    padding: 20px;
    margin: 10px;
    width: 100px;
    text-align: center;
    border-radius: 5px;


}

#donate {

    border: 2px solid tomato;
    color: tomato;
    background-color: rgb(248, 218, 213);

}

.taka {
    text-align: center;
    margin-top: 40px;
}

.hr {
    width: 50%;
}

.plan {
    text-align: center;
    margin-top: 150px;
}

.pic {
    display: flex;
    margin: auto;
    width: 60%;
}

.div1 {
    background-color: rgb(184, 184, 243);
    padding: 20px;
    margin: 20px 5px 20px 0px;
    width: 100%;
}

.div2 {
    background-color: rgb(247, 164, 236);
    padding: 20px;
    margin: 20px 5px 20px 20px;
    width: 100%;
}

.div3 {
    background-color: rgba(243, 141, 45, 0.63);
    padding: 20px;
    margin: 20px 5px 20px 20px;
    width: 100%;
}

.last {
    text-align: center;
    margin-top: 100px;
}

.box {
    height: 25vh;
    width: 50%;
    background-color: rgb(248, 199, 170);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 350px;
    margin-top: 70px;
}

input {
    border: none;
    padding: 15px;
    width: 200px;
}

button {
    border: none;
    padding: 15px;
    background-color: tomato;
    color: white;
}

.foot {
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    text-align: center;
    background-color: rgb(21, 21, 31);
    height: 25vh;
    width: 100%;
}

.finish {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
}

.med {
    margin-top: 90px;
    color: rgb(241, 59, 59);
    padding-top: 30px;
}